body{       
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(https://www.kayak.com.ar/rimg/kimg/fb/fa/8ddabacf-15eecb955fa.jpg?width=1366&height=768&crop=true);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    bottom: 0;
    display: flex;
    position: fixed;
    transition: 1s;
}
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header .container{
    display: flex;
    flex-direction:row;
    width:100%;
    height: 70px;
    align-items:center;
    background-color: black;
    opacity: 0.5;
    position:static;
}

header .container .box1{
    width: 50%;
    height: 35px;
    display: flex;
    margin:120px;   
}


a{
    position: relative;
    margin: 0 15px;
    color: rgb(233, 235, 124);
    letter-spacing: 2px;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    align-items: center;
}
footer {
    
    margin:0px;
    position: fixed;
    align-items: center;
    bottom: 0;
    width:100%;
    height: 70px;
    flex-direction: column;
    background-color: black;
    opacity: 0.5;
}

footer .container{
    
    display: flex;
    margin:0;   
    align-items:center;  
    position: fixed;
    width: 100%; 
    height: 50px;
    border:1px solid;
    flex-direction: row; 
    padding:10px;   
}
footer .box {
    width: 30px;
    height: 70x;
    display: flex;
    margin:20px;
    
}

footer ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul li {
    position: relative;
    list-style: none;
    justify-content: center;
    list-style: none;
    
}

footer p{
    letter-spacing: 2px;
    font-size:20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(233, 235, 124);
}


footer ul li a{
    position: relative;
    margin: 0 15px;
    color: rgb(233, 235, 124);
    letter-spacing: 2px;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;

}